<!DOCTYPE suite SYSTEM
"https://testng.org/testng-1.0.dtd">

<suite name="Guru99BankSuite">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Guru99 Tests">

        <classes>

            <!-- Login Module -->
            <class name="testcases.LoginTest"/>

            <!-- Customer Module -->
            <class name="testcases.CustomerTest"/>
            <class name="testcases.CustomerValidationTest"/>

            <!-- Account Module -->
            <class name="testcases.AccountTest"/>
            <class name="testcases.AccountDetailsTest"/>

            <!-- Transaction Module -->
            <class name="testcases.DepositTest"/>
            <class name="testcases.WithdrawalTest"/>

            <!-- Fund Transfer Module -->
            <class name="testcases.FundTransferTest"/>

            <!-- Negative Test Scenarios -->
            <class name="testcases.InvalidAccountTest"/>
            <class name="testcases.InsufficientBalanceTest"/>

        </classes>

    </test>

</suite>